.fir-imagecover {
  position: relative;
  display: flex;
}

.fir-imagecover:hover .fir-imageover-color {
  background-size: contain;
  background-color: rgba(85,172,238, 0.6);
}

.fir-imagecover:hover .fir-imageover-image {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.fir-imageover-color {
  height: 80px;
  width: 80px;
  position: absolute;
  background: transparent;
  background-image: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.fir-imageover-image {
  position: absolute;
  top: 0;
  opacity: 0;
}